---
import RecentPosts from "@/components/blocks/RecentPosts.astro";
import Footer from "@/components/layout/Footer.astro";
import site from "@/config/site";
import Layout from "@/layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("pages", "about");
const { Content } = await render(about!);
---

<Layout title={site.meta.title} description={site.meta.description}>
  <div
    class="animate-in fade-in slide-in-from-bottom-4 mx-auto max-w-2xl p-8 md:p-16"
  >
    <section class="mb-16">
      <h2 class="mb-6 text-3xl font-bold tracking-tight">👋 Hello, I'm Dusan</h2>
      <p class="text-lg leading-relaxed font-light text-muted-foreground">
      I spend a lot of time behind keyboard as a Fullstack developer
      </p>
    </section>

    <div class="prose dark:prose-invert">
      <Content />
    </div>
  </div>
</Layout>
